h1,h2{
	text-align: center;
	font-family: times;
}

h1{
	color:white;
	font-size:40px;
}

h2{
	font-size:30px
}

hr{
	position:relative;
	top:9px;
}

p{
	font-family: arial;
	padding-left: 15px;
	font-size:20px;
}

a{
	text-decoration:none;
}

#l{
	
	position: relative;
	top: 5px; 
}

#n{
	border: solid black 2px;
	border-left:none;
}

a.link:hover{
	text-decoration:underline
}
a:link,visited{
	color: white;
}

a:visited{
	color: white;
}





header{
	grid-area:hd;
	background-color: #444458;
	border: solid black;
}

nav{
	grid-area:na;
	border-right: solid black;
	border-left: solid black;
	background-color: #444458;
}
section{
	grid-area:se;
	border:solid;
}
footer{
	grid-area:ft;
}







@media screen and (max-width: 1000px) {
	#wrapper{
		display:grid;
		grid-template-columns: 1fr 2fr 1fr ;
		grid-template-areas:
		"hd hd hd "
		"na na na "
		"se se se "
		"ft ft ft "
	}
	
	li{
		display: inline;
		background: #1f1f25;
	}
	
	ul{
		text-align:center;
		font-size:25px;
	}
}




@media screen and (min-width: 1000px) {
	#wrapper{
		display:grid;
		grid-template-columns: 1fr 2fr 1fr;
		grid-template-areas:
		"na hd hd"
		"na se se"
		".  se se"
		".  ft ft"
	}
	nav{
		grid-area:na;
		background-color: #444458;
		width:200px;
		border: solid black;
	}
	section{
		grid-area:se;
		border-left: solid black;
		border-right: solid black;
		border-bottom: solid black;
		border-top: none;
	}
}